<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="outage"></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5 d-flex flex-column">
      <h1>Oops, page not found.</h1>
      <p>We were unable to find the page you're looking for.</p>
      <p>To get back on track, visit the homepage.</p>
      <input type="button" value="Go to Home" class="btn btn-primary btn-lg" routerLink="/" />
    </div>
  </div>
</div>