$trimble-blue: #003f87;
$trimble-blue-2: #008bd7;
$trimble-yellow: #ffbe00;
$trimble-yellow-2: #faa500;
$trimble-red: #c81922;
$trimble-green: #72a544;
$trimble-gray: #16161d;
$trimble-gray-2: #363545;
$trimble-gray-3: #787785;
$trimble-gray-4: #d5d3d9;
$trimble-gray-5: #e7e6ed;
$trimble-gray-6: #f1eff7;
$white: #fff;
$black: #000;
